{% extends "base.html" %}
{% load static %}
{% block content %}

    <!-- Page Content -->
    <div class="container">

        <h1 class="my-4">News Headlines
            <small></small>
        </h1>

        <div class="row">

            <!-- Blog Entries Column -->
            <div class="col-md-8">


                <div id="container-news">

                    {% for article in articles %}
                        <div class="card mb-4 animated fadeIn">
                            <img src="{{ article.image_url }}" class="card-img-top"
                                 alt="Card image cap">
                            <div class="card-body">
                                <h2 class="card-title">{{ article.title }}</h2>
                                <p class="card-text">{{ article.description }}</p>
                                <a href="/article_detail/{{ article.id }}" class="btn btn-primary">Read More &rarr;</a>
                            </div>
                            <div class="card-footer text-muted">{{ article.published_at }} by {{ article.author }}
                            </div>
                        </div>
                    {% endfor %}

                </div>

                <!-- Pagination -->
                <ul class="pagination justify-content-center mb-4">
                    {% if articles.has_next %}
                        <li class="page-item">
                            {% if filter_category %}
                                <a class="page-link"
                                   href="?filter_category={{ filter_category }}&page={{ articles.next_page_number }}">&larr;
                                    Older</a>
                            {% else %}
                                <a class="page-link" href="?page={{ articles.next_page_number }}">&larr; Older</a>
                            {% endif %}
                        </li>
                    {% endif %}
                    {% if articles.has_previous %}
                        <li class="page-item">
                            {% if filter_category %}
                                <a class="page-link"
                                   href="?filter_category={{ filter_category }}&page={{ articles.previous_page_number }}">Newer
                                    &rarr;</a>
                            {% else %}
                                <a class="page-link" href="?page={{ articles.previous_page_number }}">Newer &rarr;</a>
                            {% endif %}
                        </li>
                    {% endif %}

                </ul>

            </div>

            <!-- Sidebar Widgets Column -->
            <div class="col-md-4">

                <!-- Categories Widget -->
                <div class="card my-4">
                    <h5 class="card-header">Categories</h5>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-6">
                                <ul class="list-unstyled mb-0">
                                    <li>
                                        <a href="/" class="btn btn-link">
                                            All
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/?filter_category=business" class="btn btn-link">
                                            Business
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/?filter_category=music" class="btn btn-link">Music
                                        </a>
                                    </li>

                                </ul>
                            </div>
                            <div class="col-lg-6">
                                <ul class="list-unstyled mb-0">
                                    <li>
                                        <a href="/?filter_category=technology" class="btn btn-link">
                                            Technology
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/?filter_category=sport" class="btn btn-link">Sport
                                        </a>
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </div>
                </div>


            </div>

        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->

{% endblock %}
